// Home Content

.home {

  .intro {


    .header-img {
      width: 100%;
      height: 100px;
      margin-top: 100px;
      border-radius: 10px;
      margin-bottom: 20px;
    }


    h2 {
      padding: 15px;
    }

    p {
      padding:0 15px;
    }
  
  }

  .space-images {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    img {
      width: 28%;
      margin: 20px 2.5%;
      border-radius: 20px;
      height: 100%;
    }
  }

  .visit-planets {
    padding: 15px;

    h3 {
      margin-top: 11px;
    }

    p {
      margin-top: 13px;
    }
  }

  .walk {
    width: 100%;
    margin-top: 60px;
    border-top: 1px solid @main-border-color;
    padding: 50px 60px;
    display: flex;
    justify-content: center;
    border: 2px solid goldenrod;
    @media @phone {
      display: flex;
      justify-content: center;
    }

    .walk-text {
      width: 50%;
      margin-left: 5%;
      order: 2;

      h3 {
        margin-bottom: 10px;
      }

      p {
        margin-bottom: 26px;
      }

      .btn-container {
        order: 5;
        .btn {
          .button-creator(200px, 45px, @btn-bg-color, white, 1.8rem);
          padding: 20px;
          margin-top: 20px;
        }
        @media @phone {
          width: 100%;
          order: 5;
        }
    }

    .walk-img {
      width: 46%;
      margin-left: 4%;
      order: 1;
      
      img {
        width: 100%;
        height: auto;
        border-radius: 10px;
      }
    }
  }
  }
}// home